@import '~materialize-css/dist/css/materialize.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEEEE;
}
h1 {
  font-size: 2.92rem!important;
  line-height: 110% !important;
  margin: 1.9466666667rem 0 1.168rem 0!important;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}
.logo {
  max-width: 53px;
}
.App {
  position: relative;
  color: #fff;
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.description {
  color: #333333;
}
.paragraphDescription {
  margin: 25px 0;
}

.wrapper {
  background-color: #fff;
  color: #333333;
  border-radius: 10px;
  width: 80%;
  padding: 0 15px 20px;
}

Form {
  width: 70%;
}
.field {
  margin-bottom: 5px;
}
input {
  background-color: #fff!important;
  border-radius: 3px!important;
}
input:focus {
  border-bottom: 1px solid #4fc3f7!important;
  box-shadow: 0 1px 0 0 #4fc3f7!important;
}
input[type=email]:not(.browser-default):focus:not([readonly])+label {
  color: #56aaff!important;
}

.waves-effect {
  z-index: 0!important;
}
.control {
  position: relative;
}
.error {
  color: #56aaff;
  font-size: 16px;
  position: absolute;
  top: 45%;
  right: 20px;
}
.errorCode {
  top: 19%;
}
.recaptchaError {
  position: relative;
  top: 0;
  right: 0;
}
.recaptchaWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.recaptcha {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media screen and (max-height: 500px){
  .g-recaptcha-response {

    transform:scale(0.1);
    -webkit-transform:scale(0.1);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}
select {
  display: inline-block!important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.preloader-wrapper {
  animation: none!important;
  left: 50%;
  position: absolute!important;
  z-index: 99;
  top: 50%;
  transform: translate(-50%, -50%);

}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
  opacity: 0.7;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 600px) {
  h1 {
    font-size: 2.4rem!important;
    line-height: 95% !important;
    margin: 1.9466666667rem 0 1.168rem 0!important;
    display: flex;
    align-items: flex-start;
  }
  .logo {
    max-width: 33px;
  }
  .description {
    color: #333333;
    width: 100%;
    margin-bottom: 20px;
  }
  Form {
    width: 100%;
  }
  .App {
    flex-direction: column-reverse!important;
    padding-top: 0;
  }
  .wrapper {
    width: 100%;
  }
  .selectLang {
    text-align: right;
  }
}